In [1]:
import pandas as pd

In [2]:
table = pd.DataFrame({"$x_i$": [11.0, 11.1, 11.0, 11.1, 11.0], "$y_i$": [18.1, 18.3, 18.1, 18.3, 18.1],
                      "$z_i$": [42.2, 42.3, 42.2, 42.3, 42.2]})

table

   $x_i$  $y_i$  $z_i$
0   11.0   18.1   42.2
1   11.1   18.3   42.3
2   11.0   18.1   42.2
3   11.1   18.3   42.3
4   11.0   18.1   42.2

In [3]:
def calc_delta(row):
    return table[row].apply(lambda x: table[row].mean() - x)


def calc_delta_sqr(row):
    return table[row].apply(lambda x: (table[row].mean() - x) ** 2)


table["$Δx_i$"] = calc_delta("$x_i$")

table["$Δy_i$"] = calc_delta("$y_i$")

table["$Δz_i$"] = calc_delta("$z_i$")

table["$Δx_i^2$"] = calc_delta_sqr("$x_i$")

table["$Δy_i^2$"] = calc_delta_sqr("$y_i$")

table["$Δz_i^2$"] = calc_delta_sqr("$z_i$")

table

   $x_i$  $y_i$  $z_i$  $Δx_i$  $Δy_i$  $Δz_i$  $Δx_i^2$  $Δy_i^2$  $Δz_i^2$
0   11.0   18.1   42.2    0.04    0.08    0.04    0.0016    0.0064    0.0016
1   11.1   18.3   42.3   -0.06   -0.12   -0.06    0.0036    0.0144    0.0036
2   11.0   18.1   42.2    0.04    0.08    0.04    0.0016    0.0064    0.0016
3   11.1   18.3   42.3   -0.06   -0.12   -0.06    0.0036    0.0144    0.0036
4   11.0   18.1   42.2    0.04    0.08    0.04    0.0016    0.0064    0.0016

In [4]:
table["$Δx_i^2$"].sum()

0.011999999999999914

In [5]:
table["$Δy_i^2$"].sum()

0.047999999999999654

In [6]:
table["$Δz_i^2$"].sum()

0.011999999999998637

In [7]:
table["$Δx_i^2$"].sum()/(len(table["$Δx_i^2$"])*(len(table["$Δx_i^2$"])-1))

0.0005999999999999957

In [8]:
table["$Δy_i^2$"].sum()/(len(table["$Δy_i^2$"])*(len(table["$Δy_i^2$"])-1))

0.002399999999999983

In [9]:
table["$Δz_i^2$"].sum()/(len(table["$Δz_i^2$"])*(len(table["$Δz_i^2$"])-1))

0.0005999999999999319